<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{page_title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="all" href="/media/css/web/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" media="all" href="/media/css/web/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" media="all" href="/media/css/web/main.css">
        <link rel="stylesheet" type="text/css" media="all" href="/media/css/web/json-form.css">
        <link rel="icon" href="img/favicon.ico" type="image/icon" sizes="16x16">
        <script type="text/javascript" src="/media/js/web/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="/media/js/web/bootstrap.min.js"></script>
        <script type="text/javascript" src="/media/js/web/json-form.js"></script>
        <script type="text/javascript" src="/media/js/web/index.js"></script>
    </head>
     <body>
     	{% block top_header %}
		{%include "web/partials/top_header.html"%}
        {% endblock %}
        
        
        <section>
        	{% block info_page_section %}
        	{%include "web/partials/info_page_section.html"%}
        	{% endblock %}
            <div class="body">
                <div class="container">
                {% block container %}
                {% endblock %}
                </div>
            </div>
        </section>
        
        <footer>
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="text-center small">Wedwise </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>