{% extends "admin/base_site_frontend.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{# {% block breadcrumbs %}{% endblock %} #}

{% block content %}

<form enctype="multipart/form-data" action="" method="post" id="user_form">
	{% if message %}
    <p class="alert alert-info" role="{{message_class}}">
      {{message}}
    </p>
    {% endif %}
      <div class="col-sm-9 form-fields">
        <div class="panel panel-default form-panel">
          <a href="#" class="form-expand">
            <span class="glyphicon glyphicon-resize-horizontal "></span>
          </a>
          <div class="panel-body">
          {% for section in rules %}
          <h2 id="timeline" class="h2">{{section.label}}</h2><hr/>
          	{% for field in section.fields %}
			<fieldset class="module aligned wide">
				
				<div class="form-row form-group field-{{field.name}}  {% if field.error%}has-error{% endif %}">
			        <div class="widget_type__textinput">
		                <label class="required" for="id_{{field.name}}">{{field.label}}:</label>
		                {%ifequal field.type "input"%}
		                  <input class="form-control required" id="id_{{field.name}}"
		                   maxlength="30" name="{{field.name}}" type="text"
		                   value={{field.value}}
		                   >
		                {% endifequal %}   
		                {%ifequal field.type "select"%}   
		                   <select class="form-control required" id="id_{{field.name}}" name="{{field.name}}">
		                   			{% for choice in field.choices  %}
									<option value="{{choice.0}}" >{{choice.1}}</option>
									{% endfor %}
								</select>
						{% endifequal %}
		     
 
					     {%ifequal field.type "checkbox"%}
						     {% for choice in field.choices %}
						     <p>
						     <input type="checkbox" name="{{field.name}}" value="{{choice.0}}">{{choice.1}}
						     </p>
						     {% endfor %}
					     {% endifequal %}
		     
					     {%ifequal field.type "range"%}
						    
						     <p>
						     <input  name="{{field.name}}" value="{{field.min_val}}">
						     <input  name="{{field.name}}" value="{{field.max_val}}">
						     </p>
						    
					     {% endifequal %}		                   
			                <p class="help-block">
			                  {{field.help_text}}
			                </p>
			              {% if field.error%}<p class="help-block error">This field is required.</p>{% endif %}
					</div>
				</div>
				
			</fieldset>
			
			{% endfor %}
			<hr/>
			{% endfor %}
          </div>
        </div>
      </div>
      
      <div class="col-sm-3 form-buttons">
        <div data-spy="affix" data-offset-top="125" class="affix-top">
		<div class="submit-row list-group">
		    <button type="submit" title="Save" class="list-group-item active" name="_save">
		      <span class="glyphicon glyphicon-floppy-disk"></span>
		      <span class="text">Save</span>
		    </button>


<script type="text/javascript">
	var packages=[
			{ 
				'name':'rituraj',
				'type':'Veg',
				'shift':['Morning','Evening'],
				'minpeople':100,
				'maxpeople':200,
		    'quoatedprice':100000,
		    'minprice':10000,
		    'menus':[
		    					{
		    						'name':'name',
		    						'quantity':2,
		    						'options':['paneer pakoda','allo pakoda'],
		    						'example':'test',
		    						'status':true
		    					},{
		    						'name':'name',
		    						'quantity':2,
		    						'options':['paneer pakoda','allo pakoda'],
		    						'example':'test',
		    						'status':true
		    					}


		  				]

				},
  	    {
				
				'name':'Swati',
				'type':'Veg',
				'shift':['Evening'],
				'minpeople':50,
				'maxpeople':2000,
		    'quoatedprice':100000,
		    'minprice':10000,
		    'menus':[
		    					{
		    						'name':'name',
		    						'quantity':2,
		    						'options':['paneer pakoda','allo pakoda'],
		    						'example':'test',
		    						'status':true
		    					},
		    					{
		    						'name':'name',
		    						'quantity':2,
		    						'options':['paneer pakoda','allo pakoda'],
		    						'example':'test'
		    					}
		  			]
			}
	];
</script>
		  
		    <!--  button type="submit" class="list-group-item" title="Save and add another" name="_addanother">
		      <span class="glyphicon glyphicon-plus"></span>
		      <span class="text">Save and add another</span>
		    </button>
		    <button type="submit" class="list-group-item" title="Save and continue editing" name="_continue">
		      <span class="glyphicon glyphicon-pencil"></span>
		      <span class="text">Save and continue editing</span>
		    </button-->
		</div>
        </div>
      </div>
    </form>
    
{% endblock %}

</body>
</html>
