{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{# {% block breadcrumbs %}{% endblock %} #}

{% block content %}
<div id="content-main">

  <div id='header'>
    <div class="swagger-ui-wrap">
      <a id="logo" href="http://{{request.META.HTTP_HOST}}/">Wedwise</a>
    </div>
  </div>

  <div id="message-bar" class="swagger-ui-wrap">&nbsp;

  </div>
  <div id="swagger-ui-container" class="swagger-ui-wrap">
    
    <ul>
    <li> <a href='/test-api/'> Wedwise  APIS </a></li>

    <li> <a href='/admin/'> Wedwise Admin  </a></li>
  </ul>
  </div>
</div>
{% endblock %}
</body>
</html>
