{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{# {% block breadcrumbs %}{% endblock %} #}

{% block content %}
<div id="content-main">

  <div id='header'>
    <div class="swagger-ui-wrap">
      <a id="logo" href="http://{{request.META.HTTP_HOST}}/">Wedwise</a>
    </div>
  </div>

  <div id="message-bar" class="swagger-ui-wrap">&nbsp;

  </div>
  <div id="swagger-ui-container" class="swagger-ui-wrap">
    
    <ul>
	<li> <a target="_blank" href='https://docs.google.com/document/d/10h7G0BGce2l9ulRHXG57v8JBspe0FdyIZJJPcwnvzGs/edit'> Link for builds </a></li>
    <li> <a href='/console/'> Console </a></li>
    <li> <a href='/api/'> Wedwise  APIS </a></li>
    <li> <a href='/admin/'> Wedwise Admin  </a></li>
    <li> <a href='/add_vendor/'> Add Banquets  </a></li>
    <li> <a href='/vendors/'> Dynamic Banquets  </a></li>
    <li> <a href='/customer-login-registration/'> Customer Login Registrations  </a></li>
    
    
     <li> <a href='/add_sample/'> Working Add Vendors  </a></li>
  </ul>
  
  <hr/>
  Vendor team Admin : Can see messages and can active inactive : ven_team_admin | vendor@344
  
  
  
  </div>
</div>
{% endblock %}
</body>
</html>
